//
// Main Stylesheet
//
@import "compass"
@import "h5bp"

// HTML5 Boilerplate Styles
@include h5bp-normalize
@include h5bp-base-styles

// HTML5 Boilerplate styling for Chrome Frame
@include h5bp-chromeframe

// Susy Grid Systems - choose one to customize
// @import "grid/fixed"
@import "grid/magic"

@import "colors"

//@import "font-awesome"
@include font-face("Daniel Regular", font-files("daniel.ttf"))

@import "compass/typography/vertical_rhythm"

// Your own styles go here.


.avatar, .description p, .description h3, .description h2
  display: none

.container
  margin-top: 10px
  @include at-breakpoint($break-tablet)
    margin-top: 20%
.avatar
  text-align: center
  img
    width: 150px
    @include at-breakpoint($break-tablet)
      width: 200px
    breakpoint
    @include border-radius(99em)
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3)
body
  font-family: "Daniel Regular"

h2.name
  @include adjust-font-size-to(20px)
  color: $blue

h3.title
  @include adjust-font-size-to(18px)
  color: $magenta
p
  color: $green
a
  @include adjust-font-size-to(20px)
  color: $blue
  text-decoration: none

a:hover
  color: $green

// Print styles.
@include h5bp-media
