---
title:     Guillaume BELLEGUIC
bodyclass: newproject
---

.avatar
  = image_tag('avatar.jpeg', :alt => 'avatar')
.description
  %h2.name Guillaume BELLEGUIC
  %h3.title Analyste Programmeur
  %p
    Ruby & Ruby on Rails
  %p
    %a(href="http://twitter.com/testuo692")
      %i(class="icon-twitter")
    %a(href="https://github.com/tetsuo692")
      %i(class="icon-github")
    %a(href="http://www.linkedin.com/pub/guillaume-belleguic/12/7b1/84")
      %i(class="icon-linkedin")
